~/.emacs.d/recentf*
~/.emacs.d/recentf
emacs.d/recentf
/elpa/
emojis/
/init.elc
speed-type/
_minted-init/
/bookmarks
eshell/
ltximg/
transient/
/init.bbl
/init.html
/init.html~
/init.tex
/org-clock-save.el
/recentf
_minted-*
/CheatSheet.bbl
/CheatSheet.el
/CheatSheet.tex
/Workflow.bbl
/Workflow.tex
/custom.el
/backups/
/quelpa/
/.persistent-scratch
/.last-package-update-day
/semanticdb/
/.cache/
/.init.org.~undo-tree~
/.lsp-session-v1
/auto-save-list/
/projectile-bookmarks.eld
/..init.org.~undo-tree~.~undo-tree~
/devdocs/
/request/
/projectile.cache
/.org-id-locations
/.*~undo-tree~
/url/
/#init.el#
/init.el~
/scratch.sql
/.log/
/scratch.md
/scratch.csv
/scratch.el
/scratch.js
/scratch.json
/scratch.org
/vimish-fold/
scratch.*
/projects
