~/.emacs.d/recentf*
~/.emacs.d/recentf
emacs.d/recentf
/elpa/
emojis/
/init.elc
speed-type/
_minted-init/
/bookmarks
eshell/
ltximg/
transient/
/init.bbl
/init.html
/init.html~
/init.tex
/org-clock-save.el
/recentf
_minted-*
/CheatSheet.bbl
/CheatSheet.el
/CheatSheet.tex
/Workflow.bbl
/Workflow.tex
/custom.el
/backups/
/quelpa/
/.persistent-scratch
/.last-package-update-day
/semanticdb/
